@model CarbonKnown.MVC.Models.AuditHistoryModel
@{
    Layout = "../Shared/_InputLayout.cshtml";
    ViewBag.Title = "Trace Data Source";
    ViewBag.InputMenu = "TraceSource";
    ViewBag.ngApp = "TraceSource";
    ViewBag.ngBodyCtrl = "Controller";
}
@section Styles
{
    @Styles.Render(
    "~/Content/jqueryui",
    "~/Content/tracesource")
}
@section Scripts
{
    @Scripts.Render(
        "~/Scripts/jquery",
        "~/Scripts/jqueryui",
        "~/Scripts/datatable", 
        "~/Scripts/angular",
        "~/Scripts/angularuijs",
        "~/Scripts/angular-resource",
        "~/Scripts/tracesource");
    <script type="text/javascript">
        (function(readyfunction) {
            readyfunction(window, document, window.angular, window.jQuery);
        }(function(window, document, angular, $, undefined) {
            'use strict';

            angular
                .module('TraceSource')
                .constant('ApiUrl', {
                    activityTreeWalk: '@Url.HttpRouteUrl("TreeWalkActivity", new { })',
                    activityChildren: '@Url.HttpRouteUrl("ChildrenActivityGroup", new { })',
                    costCentreTreeWalk: '@Url.HttpRouteUrl("TreeWalkCostCentre", new { })',
                    costCentreChildren: '@Url.HttpRouteUrl("ChildrenCostCentre", new { })',
                    traceSourceUrl: '@Html.Raw(Url.Action("AuditHistory",Model))'
                })
                .constant('InitialRequest', {
                    costCode: '@Model.CostCode',
                    activityGroupId: '@Model.ActivityGroupId',
                    startDate: new Date('@Model.StartDate.ToString("yyyy-MM-ddT00:00:00.00Z")'),
                    endDate: new Date('@Model.EndDate.ToString("yyyy-MM-ddT00:00:00.00Z")'),
            });
        }));
    </script>
}
<nav class="nav-panels">
    <div id="report-period">
        <label>Reporting Period</label>
        <input type="text" id="report-period-fromdate" ui-date="startDateOptions" ng-model="startDate" class="date-box" />
        <label>-</label>
        <input type="text" class="date-box" ng-model="endDate" ui-date="endDateOptions" id="report-period-todate" />
    </div>
</nav>
<nav class="bread-crumb-container">
    <ck-crumb-selector tree-walk-data="activityTreeWalkData" load-children="loadActivityChildren" node-selected="activityNodeSelected" />
</nav>
<nav class="bread-crumb-container">
    <ck-crumb-selector tree-walk-data="costCentreTreeWalkData" load-children="loadCostCentreChildren" node-selected="costCentreNodeSelected" />
</nav>
<section id="audit-history-container">
    <div id="audit-history-panel">
        <table id="audit-history-table" datatable="dataTableSettings">
            <thead>
                <tr>
                    <th data-mdata="">Name</th>
                    <th>Edit Date</th>
                    <th>User Name</th>
                    <th>Units</th>
                    <th>Emissions</th>
                    <th>Cost</th>
                    <th>HandlerName</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</section>
