@using CarbonKnown.MVC.Code
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width" />
    <meta name="fragment" content="!" />
    <base href="@Html.AbsoluteUrl("~/")" />
    @RenderSection("Styles", false)
    @Styles.Render(
    "~/Content/googlefonts")
</head>
<body>
    @RenderBody()
    <footer id="footer">
        <div>
            Copyright © 2013 | Carbon Calculated
        </div>
    </footer>
    @RenderSection("Scripts", false)
</body>
</html>
